* {
  box-sizing: border-box;

}
body{
	font-size: 24px;
	margin:0;
	font-family: 'Titillium Web', sans-serif;
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(53,204,57,1) 75%);
	/*background: #85e085;*/
}
.fejlec{
padding-top: 50px;
  
  text-align: center;
  color: black;
  border-bottom: 3px solid black;
 }
 .fejlec p{
 	padding-top: -200px;
 	font-size: 32px;
 }

.navsav{

	background-color: #000000;
	overflow: hidden;
	position: fixed;
  top: 0;
  width: 100%;
}
.navsav a{

	padding: 5px;
	float: left;
	display: block;
	font-size: 28px;
	color: white;
	text-decoration: none;
}
a.dokumentacio{
	float: right; 
}
.navsav a:hover{
background-color:  #145214;

border-bottom: 2px solid white;


}
.bemutatkozas{
	display: flex;
  flex-wrap: wrap;
}
.baloldali{
	-ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width: 300px;
	
}
.baloldali h1{
font-size: 40px;
padding-left:35px;
border: 2px solid black;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px #000000;
margin-right: 30%;
margin-left: 10%;

}
.baloldali img{
	display: inline-block;
	border:3px solid black;
	border-radius: 3px;
	margin-left: 15px;
}
.tartalom{
	-ms-flex: 70%; /* IE10 */
  flex: 70%;
}
.lablec{
	padding: 5px;
  text-align: center;
  background: black;
}
.kepek h1{
	font-size: 42px;
}
.fa {
 padding: 10px;
  font-size: 30px;
  width: 45px;
  border: 4px black;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {

  background: #0099ff;
  color: white;
  
}

.fa-instagram {
  background: #ff9933;
  color: white;
  
}
.main {
  max-width: 1000px;
  margin: auto;
}
hr{
	border: 1px solid black;
}
h1 {
	text-align: center;
  font-size: 50px;
  word-break: break-all;
}

.sor {
  margin: 8px -16px;
}


.sor,
.sor > .oszlop {
  padding: 8px;
}


.oszlop {
  float: left;
  width: 25%;
}


.sor:after {
  content: "";
  display: table;
  clear: both;
}


.kepek {
  background-color: white;
  padding: 10px;
}


@media screen and (max-width: 900px) {
  .oszlop {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .oszlop {
    width: 100%;
  }
}
.labrec2{
	padding:5px; 
}

