* {
  box-sizing: border-box;

}
body{
	font-size: 24px;
	margin:0;
	font-family: 'Titillium Web', sans-serif;
	background: #4dff88
}
.fejlec{
  padding: 65px;
  text-align: center;
  background: #4dff88;

  color: black;
}
.navsav{
	
	background-color: #000000;
	overflow: hidden;
}
.navsav a{
	padding: 5px;
	float: left;
	display: block;
	font-size: 28px;
	color: white;
	text-decoration: none;
}
a.dokumentacio{
	float: right; 
}
.navsav a:hover{
background-color: #009933;

border-bottom: 2px solid white;


}
.bemutatkozas{
	display: flex;
  flex-wrap: wrap;
}
.baloldali{
	-ms-flex: 30%; /* IE10 */
  flex: 30%;
	
}
.baloldali h1{
font-size: 40px;
padding-left:35px;
border: 2px solid black;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px #000000;
margin-right: 20%;
margin-left: 30%;
}
.baloldali img{
	display: inline-block;
	border:3px solid black;
	border-radius: 3px;
	margin-left: 15px;
}
.tartalom{
	-ms-flex: 70%; /* IE10 */
  flex: 70%;
}



